@using EduMapBackendProject.DAL.Entities
@model List<Event>

<div class="col-lg-12">
    <div class="row justify-content-end">
        <div class="">
            <a asp-controller="evenet" asp-action="create" class="btn btn-secondary">Add new event</a>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Event</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Tittle</th>
                            <th>Desctiption</th>
                            <th>Image</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Photo</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eventt in Model)
                        {
                            <tr>
                                <td>@eventt.Title</td>
                                <td>@eventt.Description.Substring(30)</td>
                                <td>@eventt.Address</td>
                                <td>@eventt.Date.ToString("MMM dd yyyy")</td>
                                <td>@eventt.StartTime.ToString("hh:mm")</td>
                                <td>@eventt.EndTime.ToString("hh:mm")</td>
                                <td> <img src="~/@eventt.ImagePath" width="10%"> </td>
                                <td class="text-end">
                                    <a asp-controller="slider" asp-action="update" asp-route-id="@eventt.Id"><i class="las la-pen text-secondary font-16"></i></a>
                                    <form method="POST"asp-controller="evenet" asp-action="delete" asp-route-id="@eventt.Id" id="event-form-@eventt.Id"></form>
                                    <button type="submit" form="event-form-@eventt.Id">
                                        <i class="las la-trash-alt text-secondary font-16"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>