@model HomeVM

@{
    ViewData["Title"] = "Index";
}

<!-- Background Area Start -->
<section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        @foreach (var slider in Model.Sliders)
        {
            <div class="single-slide item" style="background-image: url(img/slider/@slider.Url)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-left-5">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">
                                        <h3>@slider.Title</h3>
                                        <p>@slider.Description</p>
                                        <a class="default-btn" href="about.html">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        }
        <!-- End Slingle Slide -->

    </div>
</section>
<!-- Background Area End -->
<!-- Notice Start -->
<section class="notice-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left">
                    <h3>notice board</h3>
                    @foreach (var item in Model.Events)
                    {
                        <div class="single-notice-left mb-25 pb-25">
                            <h4>@item.Date.ToString("dd, mmmm yyyy")</h4>
                            <p>@(item.Description.Length > 40 ? item.Description.Substring(0, 40) + "..." : item.Description)</p>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right">
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>PROFESSIONAL TEACHER</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>Online courses</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                    <div class="single-notice-right">
                        <h3>easy to addmission</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Choose Start -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                <div class="choose-content text-left">
                  <h2>WHY YOU CHOOSE EDUHOME ?</h2>
                  <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because. </p>
                  <p class="choose-option">I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder. </p>
                  <a class="default-btn" href="course-details.html">view courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
          @foreach (var item in Model.Courses)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a href="course-details.html">
                                <img src="~/img/course/@item.ImagePath" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a href="course-details.html">@item.Title</a></h3>
                            <p>@item.Description</p>
                            <a class="default-btn" asp-controller="course" asp-action="detail" asp-route-id="@item.Id">read more</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Event Area Start -->
<div class="event-area one text-center pt-140 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
               @foreach (var item in Model.Events.Take(4))
                {
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a href="event-details.html">@item.Date.ToString("MMMM dd")</a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">@item.Title</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@item.StartTime.ToString("h:mm tt") - @item.EndTime.ToString("h:mm tt")</li>
                                    <li><i class="fa fa-map-marker"></i>@item.Address</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="detail" asp-route-id="@item.Id">join now</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
               @foreach (var item in Model.Events.Skip(4))
                {
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a href="event-details.html">@item.Date.ToString("MMMM dd")</a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">@item.Title</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@item.StartTime.ToString("h:mm tt") - @item.EndTime.ToString("h:mm tt")</li>
                                    <li><i class="fa fa-map-marker"></i>@item.Address</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="detail" asp-route-id="@item.Id">join now</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
               @foreach (var item in Model.FeedBacks)
                {
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="single-testimonial">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="~/img/testimonial/@item.ImagePath" alt="testimonial">
                                </div>
                                <div class="testimonial-content">
                                    <p>@item.Content</p>
                                    <h4>@item.FullName</h4>
                                    <h5>@item.Position</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">


                @foreach (var blog in Model.Blogs)
                {
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="~/img/blog/@blog.ImagePath" alt="blog"></a>
                                <div class="blog-hover">
                                    <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-top">
                                    <p>@blog.Author  /  @blog.Date.ToString("dd MMMM, yyyy")  /  <i class="fa fa-comments-o"></i> 4</p>
                                </div>
                                <div class="blog-bottom">
                                    <h2><a href="blog-details.html">@blog.Title</a></h2>
                                    <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
</div>
<!-- Blog Area End -->
<!-- Subscribe Start -->
@await Html.PartialAsync("_SubscribePartial")
<!-- Subscribe End -->
